body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

#header-nav {
    background-color: yellowgreen;
    border-radius: 0;
    border: 0;
}

.h11 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 175%;
}

.navbar-brand h1 {
    color: #990000;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #990000;
}

#nav-list a {
    text-align: center;
}

#nav-list a:hover {
    background-color: white;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

h2 {
    width: 150px;
    font-size: 125%;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    right: -1px;
    margin-top: -1px;
}

p {
    padding: 25px 10px 10px 10px;
}

.chicken {
    background-color: #ff8c1a;
}

.beef {
    background-color: #990000;
}

.sushi {
    background-color: #446600;
}

.containerown {
    border: 1px solid black;
    background-color: #b3b3b3;
    box-sizing: border-box;
    text-align: justify;
    margin: 10px;
    position: relative;
}