body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

#header-nav {
    background-color: #ccffcc;
    border-radius: 0;
    border: 0;
}

.navbar-brand h1 {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #000;
}

#nav-list a {
    text-align: center;
    color: #000;
}

#nav-list a:hover {
    background-color: white;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

.container-fluid {
    text-align: justify;
    background-color: #ccefff;
    margin-bottom: 15px;
}

.container-fluid a {
    text-decoration: none;
    color: #a6a6a6;
    text-align: center;
}

.container-fluid a:hover {
    color: #000;
}